<%= content_for :extra_js do %>
	<%= javascript_include_tag :game %>
<% end %>


<div id="arrow_box">
<img src="assets/arrow_keys.png" height="130" width="210"><br>
<p>Move the kitty with the arrow keys</p>
<img src="assets/spacebar.png" height="50" width="210">
<p>Use Spacebar to fire!</p>
</div>

