<div id="intro_wrapper">
<h3><%= link_to "Skip Intro", game_path %></h3>
<div id = "titles"><div id="content">

<h2>Juno: A Space Adventure</h2><br><br>


<p>In a galaxy far far away, there is a planet called Cattooine. It is here where the cats write all the rules. 

One day, Juno got the call to go back to the planet she called home. Cattoine was being attacked by the dreaded vaccuums. Vaccuums and cats are mortal enemies, and without help the vacuums will suck up all of planet.
 
After a nice dose of catnip and the perfect open door opportunity, Juno had her escape and was on her way back to Cattoine. And this is her journey. </p>

</div></div>	
</div>

